@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br>
    <h4>This is the second part of Makers online internship!</h4>
    <h6 class="mb-4">Habit tracking app, built with C# and ASP.NET MVC with a SQL Server database.</h6>
    <p>Still to come:</p>
    <ul>
        <li>- Send e-mail when changing the password</li>
        <li>- Updated UI</li>
        <li>- Add calendar for habbit</li>
        <li>- Add change language option</li>
        <li>- Add achievements</li>
    </ul>
    <br>
    <h6>First of all, you need to <a href="/Identity/Account/Register">authorize</a> to start tracking your habits!</h6>
</div>