@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br/>
    <h4>This is second part of Makers online internship!</h4>
    <h6>Habit tracking app, built with C# and ASP.NET MVC with a SQL Server database.</h6>
    <br/>
    <p>Still to come:</p>
    <p> - Add CRUD</p>
    <p> - Updated UI</p>
    <br/>
    <h6>First of all you need to <a href="/Identity/Account/Register">authorization</a> to start tracking your habits!</h6>
</div>