@using HabitTracker.Domain.Enum;
@model Habit

@{
    ViewData["Title"] = "Create";
}
<div class="col-md-8 order-md-1">

    <h4 class="mb-3 text-muted">Create your own Habit</h4>
    <form method="post" asp-action="Create">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control form-control-sm" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="WeeklyGoal" class="form-label"></label>
            <input asp-for="WeeklyGoal" class="form-control form-control-sm" />
            <span asp-validation-for="WeeklyGoal" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="StartDate" class="form-label"></label>
            <input asp-for="StartDate" class="form-control form-control-sm" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="FinishDate" class="form-label"></label>
            <input asp-for="FinishDate" class="form-control form-control-sm" />
            <span asp-validation-for="FinishDate" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="HabitType" class="control-label"></label>
            <select asp-for="HabitType"
                    class="form-control-sm"
                    asp-items="Html.GetEnumSelectList<HabitType>()">
                <option>Select type ...</option>
            </select>
            <span asp-validation-for="HabitType" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Description" class="form-label"></label>
            <textarea asp-for="Description" type="text" class="form-control" rows="3"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-8 offset-4 row">

                <div class="col">
                    <input type="submit" class="btn btn-info w-100 btn-sm" value="Create" />
                </div>
                <div class="col">
                    <a asp-action="Index" class="btn btn-success w-100 btn-sm text-decoration-none">
                        Return to Habits List
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }



