@using HabitTracker.Domain.Enum;
@model Habit

<form method="post" style="background-color:white">
    <input asp-for="Id" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Edit Habit</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control form-control-sm" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="WeeklyGoal" class="form-label"></label>
                        <input asp-for="WeeklyGoal" class="form-control form-control-sm" />
                        <span asp-validation-for="WeeklyGoal" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="StartDate" class="form-label"></label>
                        <input asp-for="StartDate" class="form-control form-control-sm" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="FinishDate" class="form-label"></label>
                        <input asp-for="FinishDate" class="form-control form-control-sm" />
                        <span asp-validation-for="FinishDate" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="HabitType" class="control-label"></label>
                        <select asp-for="HabitType"
                                class="form-control-sm"
                                asp-items="Html.GetEnumSelectList<HabitType>()">
                            <option>Select type ...</option>
                        </select>
                        <span asp-validation-for="HabitType" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Description" class="form-label"></label>
                        <textarea asp-for="Description" type="text" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-8 offset-4 row">

                            <div class="col">
                                <input type="submit" class="btn btn-info w-100 btn-sm" value="Update" />
                            </div>
                            <div class="col">
                                <a asp-action="Index" class="btn btn-success w-100 btn-sm text-decoration-none">
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i> Return to Habits List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }